apiVersion: v1
kind: Pod
metadata:
  name: oslat
  annotations:
    cpu-load-balancing.crio.io: "true"
  labels:
    app.kubernetes.io/name: oslat
    app.kubernetes.io/version: "4.7"
spec:
  containers:
  - args:
    - -logtostderr=false
    - -alsologtostderr=true
    - -log_file=/host/oslat.log
    - -runtime={{ duration_in_seconds }}
    command:
    - /usr/bin/oslat-runner
    image: quay.io/openshift-kni/cnf-tests:4.7
    imagePullPolicy: IfNotPresent
    name: oslat-runner
    resources:
      limits:
        cpu: {{ cpu }}
        memory: 2Gi
      requests:
        cpu: {{ cpu }}
        memory: 2Gi
    securityContext:
      privileged: true
    volumeMounts:
    - mountPath: /host
      name: logs
  nodeSelector:
    kubernetes.io/hostname: {{ kubernetes_hostname }}
    node-role.kubernetes.io/{{ cnf_node_selector }}: ""
  restartPolicy: Never
  runtimeClassName: performance-{{ profile_name }}
  volumes:
  - hostPath:
      path: /var/log
      type: Directory
    name: logs
